

.govuk-panel.govuk-panel--confirmation
  h2 =t('confirmation.online_ucd.heading', claim_number: @result['message'])
  h2 =t('confirmation.online_ucd.sub_heading')
br

p.govuk-body =t('confirmation.online_ucd.p_one')
p.govuk-body =t('confirmation.online_ucd.p_two')
p.govuk-body =t('confirmation.online_ucd.p_three')
p.govuk-body =t('confirmation.online_ucd.p_four')
p.govuk-body =t('confirmation.online_ucd.p_five_html')
h3.govuk-heading-m =t('confirmation.online_ucd.h3_two')
p.govuk-body =t('confirmation.online_ucd.p_six')
