

.govuk-panel.govuk-panel--confirmation
  h2 =t('confirmation.online.heading', claim_number: @result['message'], scope: "#{@form.i18n_scope}_ucd"))
  h2 =t('confirmation.online.sub_heading', scope: "#{@form.i18n_scope}_ucd"))
br

p.govuk-body =t('confirmation.online.p_one', scope: "#{@form.i18n_scope}_ucd"))
h3.govuk-heading-m =t('confirmation.online.h3_one', scope: "#{@form.i18n_scope}_ucd"))
p.govuk-body =t('confirmation.online.p_two', scope: "#{@form.i18n_scope}_ucd"))
p.govuk-body =t('confirmation.online.p_three', scope: "#{@form.i18n_scope}_ucd"))
p.govuk-body =t('confirmation.online.p_four', scope: "#{@form.i18n_scope}_ucd"))
p.govuk-body =t('confirmation.online.p_five_html', scope: "#{@form.i18n_scope}_ucd"))
h3.govuk-heading-m =t('confirmation.online.h3_two', scope: "#{@form.i18n_scope}_ucd"))
p.govuk-body =t('confirmation.online.p_six', scope: "#{@form.i18n_scope}_ucd"))
