

.govuk-panel.govuk-panel--confirmation
  h2 =t('confirmation.online.heading', claim_number: @result['message'])
  h2 =t('confirmation.online.sub_heading')
br

p.govuk-body =t('confirmation.online.p_one')
h3.govuk-heading-m =t('confirmation.online.h3_one')
p.govuk-body =t('confirmation.online.p_two')
p.govuk-body =t('confirmation.online.p_three')
p.govuk-body =t('confirmation.online.p_four')
p.govuk-body =t('confirmation.online.p_five_html')
h3.govuk-heading-m =t('confirmation.online.h3_two')
p.govuk-body =t('confirmation.online.p_six')
