- if ucd_changes_apply?(@online_application.calculation_scheme)
  = render("questions/forms/savings_and_investment/post_ucd", f: f)
- else
  = render("questions/forms/savings_and_investment/pre_ucd", f: f)
