div.govuk-hint = t("details#{i18n_status_suffix(@online_application)}", scope: "#{@form.i18n_scope}")

div.govuk-hint = t("hint_details#{i18n_status_suffix(@online_application)}", scope: "#{@form.i18n_scope}")
