- content_for :page_title
  = t('confirmation.default.title')
  = ' - '

=render('stylesheets')

.govuk-panel.govuk-panel--confirmation
  h2 =t('confirmation.paper.heading', claim_number: @result['message'])
  h2 =t('confirmation.paper.sub_heading')

br


p.govuk-body =t('confirmation.paper.p_one')
h3.govuk-heading-m =t('confirmation.paper.h3_one')
p.govuk-body =t('confirmation.paper.p_two')
p.govuk-body =t('confirmation.paper.p_three')
p.govuk-body =t('confirmation.paper.p_four_html')
h3.govuk-heading-m =t('confirmation.paper.h3_two')
p.govuk-body =t('confirmation.paper.p_five')
