
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

$govuk-fonts-path: 'govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: 'govuk-frontend/dist/govuk/assets/rebrand/images/';

@import "govuk-frontend/dist/govuk/index";

// /*local*/
@import 'local/address_lookup';
@import 'local/phase-banner';
@import 'local/panels';
@import 'local/utilities';
@import 'local/lists';
@import 'local/banners';
